In [19]:
import pandas as pd

In [21]:
pd.__version__

'2.2.3'

In [40]:
df = pd.read_csv('yellow_tripdata_2025-03.csv', nrows=100)

#with parquet file
#%pip install pyarrow
#df = pd.read_parquet('yellow_tripdata_2025-03.parquet', engine='auto')
#df = df.head(100)

In [41]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [25]:
from sqlalchemy import create_engine

In [43]:
%pip install psycopg2-binary

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: psycopg2-binary in c:\users\congv\appdata\local\programs\python\python312\lib\site-packages (2.9.10)

[notice] A new release of pip is available: 25.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [44]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [45]:
df_iter = pd.read_csv('yellow_tripdata_2025-03.csv', iterator=True, chunksize=100000)

#df_iter = pd.read_parquet('yellow_tripdata_2025-03.parquet', engine="pyarrow")

In [46]:
df = next(df_iter)

In [48]:
len(df)

100000

In [49]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [50]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-03-01 00:17:16,2025-03-01 00:25:52,1.0,0.90,1.0,N,140,236,1,7.9,3.50,0.5,2.60,0.00,1.0,15.50,2.5,0.0,0.00
1,1,2025-03-01 00:37:38,2025-03-01 00:43:51,1.0,0.60,1.0,N,140,262,1,6.5,3.50,0.5,2.30,0.00,1.0,13.80,2.5,0.0,0.00
2,2,2025-03-01 00:24:35,2025-03-01 00:39:49,1.0,1.94,1.0,N,161,68,1,14.9,1.00,0.5,5.16,0.00,1.0,25.81,2.5,0.0,0.75
3,2,2025-03-01 00:56:16,2025-03-01 01:01:35,2.0,0.95,1.0,N,231,13,1,7.2,1.00,0.5,2.59,0.00,1.0,15.54,2.5,0.0,0.75
4,1,2025-03-01 00:01:44,2025-03-01 00:10:00,1.0,1.50,1.0,N,163,236,1,8.6,4.25,0.5,2.85,0.00,1.0,17.20,2.5,0.0,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2025-03-01 21:54:50,2025-03-01 22:11:32,1.0,2.30,1.0,N,144,68,1,14.2,4.25,0.5,4.00,0.00,1.0,23.95,2.5,0.0,0.75
99996,2,2025-03-01 21:02:55,2025-03-01 21:26:50,1.0,3.89,1.0,N,114,236,1,24.0,1.00,0.5,2.00,0.00,1.0,31.75,2.5,0.0,0.75
99997,2,2025-03-01 21:30:58,2025-03-01 21:54:12,1.0,4.08,1.0,N,236,90,1,24.7,1.00,0.5,0.00,0.00,1.0,30.45,2.5,0.0,0.75
99998,2,2025-03-01 21:56:06,2025-03-01 22:09:56,1.0,1.50,1.0,N,90,137,1,13.5,1.00,0.5,3.85,0.00,1.0,23.10,2.5,0.0,0.75
99999,2,2025-03-01 21:08:15,2025-03-01 21:29:23,4.0,4.67,1.0,N,161,255,1,24.0,1.00,0.5,7.34,6.94,1.0,44.03,2.5,0.0,0.75

In [51]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [52]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 6.34 s
Wall time: 11.4 s

1000

In [53]:
from time import time

In [ ]:
while True: 
    try:
        t_start = time()

        df = next(df_iter)

        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        
        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))
    except StopIteration:
        print("All chunks inserted.")

inserted another chunk, took 11.849 second
inserted another chunk, took 12.024 second
inserted another chunk, took 11.668 second
inserted another chunk, took 11.769 second
inserted another chunk, took 12.154 second
inserted another chunk, took 12.096 second
inserted another chunk, took 11.980 second
inserted another chunk, took 11.995 second
inserted another chunk, took 11.962 second
inserted another chunk, took 12.701 second
inserted another chunk, took 13.256 second
inserted another chunk, took 12.224 second
inserted another chunk, took 12.234 second
inserted another chunk, took 11.979 second
inserted another chunk, took 12.827 second
inserted another chunk, took 13.116 second
inserted another chunk, took 12.583 second
inserted another chunk, took 12.985 second
inserted another chunk, took 12.208 second
inserted another chunk, took 14.229 second
inserted another chunk, took 12.545 second
inserted another chunk, took 13.388 second
inserted another chunk, took 12.470 second
inserted another chunk, took 12.398 second
inserted another chunk, took 13.537 second
inserted another chunk, took 12.146 second
inserted another chunk, took 12.217 second
inserted another chunk, took 11.953 second
inserted another chunk, took 12.981 second
inserted another chunk, took 15.068 second
inserted another chunk, took 12.094 second

C:\Users\congv\AppData\Local\Temp\ipykernel_16388\2113580993.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 11.393 second
inserted another chunk, took 11.360 second
inserted another chunk, took 11.703 second
inserted another chunk, took 11.931 second
inserted another chunk, took 11.031 second
inserted another chunk, took 10.917 second
inserted another chunk, took 11.090 second
inserted another chunk, took 11.660 second
inserted another chunk, took 12.351 second
inserted another chunk, took 5.495 second

StopIteration:

In [ ]:
#!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

import urllib.request
url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'
filename = 'taxi_zone_lookup.csv'
urllib.request.urlretrieve(url, filename)

('taxi_zone_lookup.csv', <http.client.HTTPMessage at 0x19c80266ed0>)

In [22]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [23]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [28]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265